* {
  box-sizing: border-box; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left;
  padding: 15px; }

.row:after {
  content: "";
  clear: both;
  display: block; }

.container {
  width: 80%;
  margin: auto; }

/* Coolors Exported Palette - coolors.co/5d576b-8884ff-d7bce8-e8cee4-fde2ff */
body {
  background-color: #5d576b; }

input[type=text]:focus, input[type=text]:active {
  outline: none; }

#login {
  font-size: large;
  width: 300px;
  padding: 10px;
  margin: auto;
  margin-top: 10%;
  text-align: center;
  color: white; }
  #login input {
    padding: 3px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    font-size: large;
    border-radius: 5px; }
  #login button, #login input[type=submit] {
    background-color: #8884ff;
    border-color: #8884ff;
    color: white;
    border-style: solid;
    text-align: center; }
    #login button:hover, #login input[type=submit]:hover {
      background-color: #7470ff;
      border-color: #7470ff;
      outline: none; }
    #login button:focus, #login button:active, #login input[type=submit]:focus, #login input[type=submit]:active {
      outline: none; }

#general_chat {
  background-color: white;
  height: 576px;
  overflow: auto;
  border-radius: 10px 10px 0px 0px;
  margin-top: 16px;
  padding: 16px; }
  #general_chat::-webkit-scrollbar {
    width: 12px; }
  #general_chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  #general_chat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

#general_chat_form {
  border-top: 1px solid #8884ff; }
  #general_chat_form input[type=text] {
    overflow: visible;
    border-style: solid;
    border-color: white;
    border-radius: 0px 0px 0px 5px;
    padding: 5px 10px 5px 10px; }
  #general_chat_form input[type=submit] {
    border-radius: 0px 0px 5px 0px;
    padding: 5px 10px 5px 10px;
    background-color: #8884ff;
    border-color: #8884ff;
    color: white;
    border-style: solid;
    text-align: center; }
    #general_chat_form input[type=submit]:hover {
      background-color: #7470ff;
      border-color: #7470ff;
      outline: none; }
    #general_chat_form input[type=submit]:focus, #general_chat_form input[type=submit]:active {
      outline: none; }

#sidebar {
  max-height: 639px;
  padding: 15px;
  overflow: auto; }
  #sidebar::-webkit-scrollbar {
    width: 12px; }
  #sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  #sidebar::-webkit-scrollbar-thumb {
    background-color: #d7bce8;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

#disconnect_button {
  background-color: #8884ff;
  border-color: #8884ff;
  color: white;
  border-style: solid;
  text-align: center;
  border-radius: 5px;
  height: 30px;
  padding: 3px;
  margin-top: 6px;
  width: 100%; }
  #disconnect_button:hover {
    background-color: #7470ff;
    border-color: #7470ff;
    outline: none; }
  #disconnect_button:focus, #disconnect_button:active {
    outline: none; }

.close-private {
  float: right;
  width: 24px;
  height: 24px;
  text-align: center;
  color: black;
  padding: 2px;
  border-top-right-radius: 5px;
  background-color: #d7bce8;
  border-color: #d7bce8;
  color: white;
  border-style: solid;
  text-align: center; }
  .close-private:hover {
    background-color: #ceade3;
    border-color: #ceade3;
    outline: none; }
  .close-private:focus, .close-private:active {
    outline: none; }

.private-div {
  background-color: white;
  margin-bottom: 16px;
  margin-top: 16px;
  border-radius: 5px; }
  .private-div:last-child {
    border-bottom: none; }
  .private-div label {
    color: black;
    padding: 8px; }

#private_chat {
  overflow: auto; }
  #private_chat form {
    border-top: 1px solid #8884ff; }
    #private_chat form input[type=text] {
      border-style: solid;
      border-color: white;
      border-radius: 0px 0px 0px 5px;
      padding: 5px 10px 5px 10px;
      overflow: visible; }
    #private_chat form input[type=submit] {
      border-radius: 0px 0px 5px 0px;
      padding: 5px 10px 5px 10px;
      background-color: #8884ff;
      border-color: #8884ff;
      color: white;
      border-style: solid;
      text-align: center; }
      #private_chat form input[type=submit]:hover {
        background-color: #7470ff;
        border-color: #7470ff;
        outline: none; }
      #private_chat form input[type=submit]:focus, #private_chat form input[type=submit]:active {
        outline: none; }

.private-message {
  border-top: 1px solid #8884ff;
  background-color: white;
  height: 128px;
  overflow: auto;
  margin-top: 6px;
  padding: 16px; }
  .private-message::-webkit-scrollbar {
    width: 12px; }
  .private-message::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  .private-message::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    height: 10px; }

label {
  color: white; }

#user_list ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  background-color: #d7bce8;
  border-radius: 5px; }
  #user_list ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #8884ff; }
    #user_list ul li:last-child {
      border-bottom: none; }
    #user_list ul li:hover {
      background-color: #ceade3; }
      #user_list ul li:hover:first-child {
        border-radius: 5px 5px 0px 0px; }
      #user_list ul li:hover:last-child {
        border-radius: 0px 0px 5px 5px; }
      #user_list ul li:hover:only-child {
        border-radius: 5px; }

.warning {
  color: white; }

/*# sourceMappingURL=style.css.map */
