@import 'grid';

/* Coolors Exported Palette - coolors.co/5d576b-8884ff-d7bce8-e8cee4-fde2ff */

$background: #5d576b; //rgba(93, 87, 107, 100)
$accent: #8884ff; //rgba(136, 132, 255, 100)
$secondary: #d7bce8; //rgba(215, 188, 232, 100)
$warning: #e8cee4; //rgba(232, 206, 228, 100)
//$primary: #fde2ff; //rgba(253, 226, 255, 100)
$primary: white;

@mixin button-color($color: $accent, $text-color: white) {
	background-color: $color;
	border-color: $color;
	color: $text-color;
	border-style: solid;
	text-align: center;
	&:hover {
		background-color: darken($color, 4%);
		border-color: darken($color, 4%);
		outline: none;
	}

	&:focus, &:active {
		outline: none;
	}
}

body {
	background-color: $background;
	cursor: default;
}

input[type=text] {
	&:focus, &:active {
		outline: none;
	}
}

#login {
	font-size: large;
	width: 300px;
	padding: 10px;
	margin: auto;
	margin-top: 10%;
	text-align: center;
	color: $primary;

	input {
		padding: 3px;
		margin: auto;
		margin-top: 7px;
		margin-bottom: 7px;
		width: 100%;
		font-size: large;
		border-radius: 5px;
	}

	button, input[type=submit] {
		@include button-color;
	}
}

#general_chat {
	background-color: white;
	height: 576px;
	overflow: auto;
	border-radius: 10px 10px 0px 0px;
	margin-top: 16px;
	padding: 16px;
	&::-webkit-scrollbar {
		width: 12px;
	}
	&::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
	}
 
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		background-color: darken(white, 4%);
		&:hover {
			background-color: darken(white, 8%);
		}
	}
}

#general_chat_form {
	border-top: 1px solid $accent;
	input[type=text] {
		overflow: visible;
		border-style: solid;
		border-color: white;
		border-radius: 0px 0px 0px 5px;
		padding: 5px 10px 5px 10px;
	}
	input[type=submit] {
		border-radius: 0px 0px 5px 0px;
		padding: 5px 10px 5px 10px;
		@include button-color;
	}
}

#disconnect_button {
	@include button-color;
	border-radius: 5px;
	height: 30px;
	padding: 3px;
	margin-top: 6px;
	width: 100%;
}

.close-private {
	float: right;
	width: 26px;
	height: 26px;
	text-align: center;
	color: black;
	padding: 2px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 20px;
	@include button-color($secondary);
}

.private-div {
	background-color: white;
	margin-bottom: 16px;
	margin-top: 16px;
	border-radius: 5px;
	&:last-child {
		border-bottom: none;
	}
	h5 {
		color: black;
		padding-top: 8px;
		padding-left: 8px;
		margin: 0px;
		font-weight: normal;
		font-size: inherit;
	}
}

#private_chat {
	max-height: 400px;
	overflow: auto;
	border-radius: 5px;
	padding-right: 6px;
	form {
		border-top: 1px solid $accent;
		input[type=text] {
			border-style: solid;
			border-color: white;
			border-radius: 0px 0px 0px 5px;
			padding: 5px 10px 5px 10px;
			overflow: visible;
		}
		input[type=submit] {
			border-radius: 0px 0px 5px 0px;
			padding: 5px 10px 5px 10px;
			@include button-color;
		}
	}
	&::-webkit-scrollbar {
		width: 12px;
	}
	&::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
	}
 
	&::-webkit-scrollbar-thumb {
		background-color: $secondary;
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		&:hover {
			background-color: darken($secondary, 4%);
		}
	}
}

.private-message {
	border-top: 1px solid $accent;
	background-color: white;
	height: 128px;
	overflow: auto;
	margin-top: 6px;
	padding: 16px;
	&::-webkit-scrollbar {
		width: 12px;
	}
	&::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
	}
 
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		height: 10px;
		background-color: darken(white, 4%);
		&:hover {
			background-color: darken(white, 8%);
		}
	}
}

label {
	color: white;
}

#user_list {
	ul {
		max-height: 200px;
		overflow: auto;
		text-align: center;
		list-style-type: none;
		padding: 0;
		padding-right: 6px;
		border-radius: 5px;
		&::-webkit-scrollbar {
			width: 12px;
		}
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
			border-radius: 10px;
		}
 
		&::-webkit-scrollbar-thumb {
			background-color: $secondary;
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
			&:hover {
				background-color: darken($secondary, 4%);
			}
		}
		li {
			background-color: $secondary;
			padding: 8px 16px;
			border-bottom: 1px solid $accent;
			&:first-child {
				border-radius: 5px 5px 0px 0px;
			}
			&:last-child {
				border-bottom: none;
				border-radius: 0px 0px 5px 5px;
			}
			&:only-child {
				border-radius: 5px;
			}
			&:hover {
				background-color: darken($secondary, 4%);
				&:first-child {
					border-radius: 5px 5px 0px 0px;
				}
				&:last-child {
					border-radius: 0px 0px 5px 5px;
				}
				&:only-child {
					border-radius: 5px;
				}
			}
		}
	}
}

.self {
	background-color: darken($secondary, 4%) !important;
}

.warning {
	color: $primary;
}